.logo {
  position: absolute;
  top: 20px;
  left: 110px;
  display: block;
  z-index: 10000;
}
.menu {
  background-color: #3399ff !important;
}
.menu a {
  color: aliceblue !important;
}
.menu a:hover {
  color: #b3b3b3 !important;
}
/* .btn-group,
.btn-group-vertical {
  position: absolute !important;
  z-index: 7000;
  top: 110px;
  left: 10px;
} */
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #1862af !important;
  border-color: #3399ff !important;
  color: #ffffff !important;
}
.btn {
  padding: 5px 10px !important;
  border-radius: 30px !important;
}
.cid-srp0i5a8hV {
  background-image: url("../../images/footer-full.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  object-fit: cover;
  color: #ffffff;
}

.cid-sqwIQWiNI7 .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #1f568e;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-sqwIQWiNI7 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-sqwIQWiNI7 {
  color: #ffffff;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
  margin-left: 20px;
}
.tituloh {
  font-weight: 700;
}
.cid-sqwHRszWKL .carousel-caption {
  right: 0;
  bottom: -55px;
  left: 0;
  top: auto;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #3399ff;
}
.cid-srthlVF0Aw button.navbar-toggler {
  top: -25px;
}
button.navbar-toggler.menutext {
  color: aliceblue;
  border: 0;
  margin: auto;
}

.property .form-control {
  min-height: 0;
  font-size: 12px;
}
.property button {
  font-size: 12px;
}

.y {
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
}

.property {
  margin-left: 100px;
}
.login {
  position: absolute;
  top: 8px;
  right: 70px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .login {
    display: contents;
  }
}
@media (max-width: 576px) {
  .property {
    margin-left: 25%;
  }
}
.navbar {
  padding: 0;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 0;
}
.refer {
  background-image: url("../../images/hero-referer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 88vh;
}

.refer h1 {
  font-size: 36px;
  color: #ffffff;
}
.refer p {
  color: #ffffff;
}

.newsletter {
  padding: 2em 0;
}
.newsletter h2 {
  font-size: 24px;
}

.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  line-height: 1em;
  min-height: 0;
  padding: 0 10px;
}
.form-app {
  padding-bottom: 2em;
}
.form-app h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}
.download-news {
  padding: 2em 0;
}
.download-news h2,
.newsletter h2 {
  font-size: 24px;
  text-align: center;
}
